/* Палитра
#2196F3 синий в лого
#000000 черный в лого
#2F303A чёрный в герое
#FFFFFF белый фон основной
#FFFFFF99 белый прозрачность 60%
#212121 цвет заголовков черный
#757575 серый основной цвет текста
#F5F4FA серый на кнопках
#E5E5E5 фон

*/
/* CSS rules to specify families

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

 */
/* CSS переменные */
:root {
  --background-primary: #ffffff;
  --background-white-80: #ffffff99;
  --background-secondary: #e5e5e5;
  --background-hero: 2f303a;
  --accent: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --logo: #000000;
  --button-color: #f5f4fa;
}
body {
  background-color: var(--background-primary);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 3%;
}

/* "утилита" для сброса маркеров со списков */
.list {
  list-style: none;
}
/* Заголовки */
h1,
h2,
h3,
h4,
h5 {
  color: var(--secondary-text-color);
}
/* панель навигации */
.site-nav a {
  color: var(--secondary-text-color);
  font-style: Medium;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav a:hover,
.site-nav a:focus,
.contacts a:hover,
.contacts a:focus {
  color: var(--accent);
}

/* контакты */
.contacts {
  letter-spacing: 2%;
}
.contacts a {
  color: var(--primary-text-color);
}

/* Секция герой */
.hero {
}

.hero h1 {
  background-color: var(--background-hero);
  color: var(--background-primary);
}
.hero-btn {
  background-color: var(--accent);
  color: var(--background-primary);
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 6%;
  width: 200;
  height: 50;
  border-radius: 4px;
}
/* кнопки-фильтры в портфолио */
.portfolio-btn {
  width: 130px;
  height: 38px;
  border-radius: 4px;
  background-color: var(--button-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 2.25;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent);
  color: var(--background-primary);
}
/* адрес футере */
.footer-adress {
  color: var(--background-primary);
}
.footer-link {
  color: var(--background-white-80);
}
