/* Палитра
#2196F3 синий в лого
#000000 черный в лого
#2F303A чёрный в герое
#FFFFFF белый фон основной
#FFFFFF99 белый прозрачность 60%
#212121 цвет заголовков черный
#757575 серый основной цвет текста
#F5F4FA серый на кнопках
#E5E5E5 фон

*/
/* CSS rules to specify families

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

 */
/* CSS переменные */
:root {
  --background-primary: #ffffff;
  --background-white-80: #ffffff99;
  --background-secondary: #E5E5E5;
  --background-hero:  2F303A;
  --accent: #2196F3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --logo: #000000;
  --button-color: #F5F4FA;
  

  --
}
body {
  background-color: var(--background-primary);
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 3%;
}

/* "утилита" для сброса маркеров со списков */
.list {
  list-style: none;
}
/* Заголовки */
h1,
h2,
h3,
h4,
h5 {
  color: var(--secondary-text-color);
}
/* панель навигации */
.site-nav a {
  color: var(--secondary-text-color);
  font-style: Medium;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav a:hover,
.site-nav a:focus,
.contacts a:hover,
.contacts a:focus {
  color: var(--accent);
}

/* контакты */
.contacts {
  letter-spacing: 2%;
}
.contacts a {
  color: var(--primary-text-color);
}

/* Секция герой */
.hero{
  background-color: var(--background-hero);
}

.hero h1{
  color: var(--background-primary);
}
